{% extends "layout.html" %}

{% block title %}
    BINGO | {{ ign }}
{% endblock %}

{% block javascript %}
    <script>
        var allButtons = document.getElementsByClassName("select-btn");
        var tasks = document.getElementsByClassName("task");
        
        function filter(id) {
            // Removes "selected" class from all buttons, adds it to the new selected one
            var button = document.getElementById(id);
            Array.from(allButtons).forEach(btn => {
                if(btn.classList.contains("selected")) {
                    btn.classList.remove("selected");
                }
                button.classList.add("selected");
            });

            // Filters to match selection
            Array.from(tasks).forEach(task => {
                task.style.display = "inline";
            });
            
            if (id != "all") {
                Array.from(tasks).forEach(task => {
                    if (!(task.classList.contains(id))) {
                        task.style.display = "none";
                    }
                });
            }

        }
    </script>
{% endblock %}

{% block main %}
    <div class="grid-container" style="color:white;">
        <div class="grid-select" style="background-color:rgba(255, 255, 255, 0.1); border-radius:5px; border:solid 1.5px rgba(0, 0, 0, 0.5); color:white; text-align:center; height:50%;">
            <div class="grid-select-container" style="position:relative; top:50%; transform:translateY(-50%)">
                <div>
                    <button id="all" class="select-btn selected" onclick="filter(this.id)">
                        ALL
                    </button>
                </div>
                <div>
                    <button id="coll" class="select-btn" onclick="filter(this.id)">
                        COLLECT.
                    </button>
                </div>
                <div>
                    <button id="craft" class="select-btn" onclick="filter(this.id)">
                        CRAFT
                    </button>
                </div>
                <div>
                    <button id="misc" class="select-btn" onclick="filter(this.id)">
                        MISC.
                    </button>
                </div>
                <div>
                    <button id="comm" class="select-btn" onclick="filter(this.id)">
                        COMM.
                    </button>
                </div>
            </div>
        </div>

        <div class="grid-input" style="background-color:rgba(255, 255, 255, 0.1); border-radius:5px; border:solid 1.5px rgba(0, 0, 0, 0.5); color:white; text-align:center;">
            <div style="position:relative; top:50%; transform:translateY(-50%)">
                <div style="font-size:1.2em; font-weight:600; padding-bottom:0.2rem;">
                    Bingo Data For
                </div>
                <div>
                    <form action="/bingo" method="post" style="display:flex" autocomplete="off">
                        <div style="margin:0 auto; display:flex; border:1.5px solid white; border-radius:5px;">                            
                            <input type="text" name="ign" placeholder="Username" spellcheck="false" value={{ ign }} style="background-color:rgba(0, 0, 0, 0.0); color:white; border:none; width:85%; text-indent:0.1em;">
                            <button type="submit" style="background-color:rgba(0, 0, 0, 0.0); color:white; border:none; width:15%;"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div> 
        </div>

        <div class="grid-tasks" style="background-color:rgba(255, 255, 255, 0.1); border-radius:5px; border:solid 1.5px rgba(0, 0, 0, 0.5); padding-top:0.3rem; padding-bottom:0.3rem;">
            <div class="grid-tasks-container">
                {% for dict in eta_tasks %}
                    {% if dict.method == "MINION" %}
                        <div class="grid-tasks-item task coll">
                    {% elif dict.method == "CRAFT" %}
                        <div class="grid-tasks-item task craft">
                    {% elif dict.method == "COMMUNITY GOAL" %}
                        <div class="grid-tasks-item task comm">
                    {% else %}
                        <div class="grid-tasks-item task misc">
                    {% endif %}
                        <div class="header">
                            {{ dict.name }}
                        </div>
                        <div class="subheader grid-subheader-container">
                            <div class="grid-tasks-item">
                                <div style="font-size:1.3em; font-weight:500;">
                                    TASK
                                </div>
                                <div>
                                    {{ dict.lore }}
                                </div>
                            </div>
                            <div class="grid-tasks-item">
                                <div style="font-size:1.3em; font-weight:500;">
                                    METHOD
                                </div>
                                <div>
                                    X Type Minions
                                    <br>
                                    Unloads: X
                                </div>
                            </div>
                            <div class="grid-tasks-item">
                                <div style="font-size:1.3em; font-weight:500;">
                                    ETA
                                </div>
                                <div>
                                    {{ dict.eta }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="grid-board" style="background-color:rgba(255, 255, 255, 0.1); border-radius:5px; border:solid 1.5px rgba(0, 0, 0, 0.5); padding:0.3em; color:white;">
            <div class="grid-in-board" style="border:solid 0.75px rgb(0, 0, 0)">
                {% for task in ordered_tasks %}
                        {% if task.lore == "Community Goal!" %}
                            <div class="grid-board-item" style="background-color:rgba(255, 132, 0, 0.6); border:1.5px solid black;"></div>
                        {% elif task.completion == 100 %}
                            <div class="grid-board-item" style="background-color:rgba(40, 207, 40, 0.6); border:1.5px solid black;"></div>
                        {% else %}
                            <div class="grid-board-item" style="background-color:rgba(0, 0, 0, 0.6); border:1.5px solid black;"></div>
                        {% endif %}
                        
                {% endfor %}
                
            </div>
        </div>

        <div class="grid-todo" style="background-color:rgba(255, 255, 255, 0.1); border-radius:5px; border:solid 1.5px rgba(0, 0, 0, 0.5); padding:0.3em; color:white;">
            <div style="font-size:1.1em; font-weight:500;">
                <div style="text-align:center; font-size:1.2em;">INCOMPLETE</div>
                <ul style="font-size:0.7em; margin:0; padding:0; list-style-type: none;">
                <hr>
                {% for dict in eta_tasks %}
                    {% if dict.method != "COMMUNITY GOAL" %}
                        {% if dict.completion != 100 %}
                            <li style="margin-left:0.5em;">{{ dict.name}} → {{ dict.lore }}</li>
                            <hr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>


{% endblock %}