{% extends "layout.html" %}

{% block title %}
    BINGO | {{ ign }}
{% endblock %}

{% block javascript %}
    <script>
        var allButtons = document.getElementsByClassName("select-btn");
        var tasks = document.getElementsByClassName("task");
        
        function filter(id) {
            // Removes "selected" class from all buttons, adds it to the new selected one
            var button = document.getElementById(id);
            Array.from(allButtons).forEach(btn => {
                if(btn.classList.contains("selected")) {
                    btn.classList.remove("selected");
                }
                button.classList.add("selected");
            });

            // Filters to match selection
            Array.from(tasks).forEach(task => {
                task.style.display = "inline";
            });
            
            if (id != "all") {
                Array.from(tasks).forEach(task => {
                    if (!(task.classList.contains(id))) {
                        task.style.display = "none";
                    }
                });
            }
        }
        
        function show_method(button_id) { 
            
            // Clears visible information everywhere
            let all_text = document.getElementsByClassName("grid-in-strat-text");
            let buttons = document.getElementsByClassName("task-button");

            Array.from(all_text).forEach(item => {
                item.style.display = "none";
            });

            Array.from(buttons).forEach(item => {
                if(item.classList.contains("selected-task-btn")) {
                    item.classList.remove("selected-task-btn");
                }
            });

            // Find new information and makes visible in strat grid
            let text = document.getElementsByClassName("grid-in-strat-text")[button_id];

            console.log(text);

            text.style.display = "inline";

            // Shows selected button
            let button = document.getElementById(button_id);
            button.classList.add("selected-task-btn");
        }

    </script>
{% endblock %}

{% block main %}
    <div class="grid-container" style="color:white;">
        <div class="grid-select" style="background-color:rgba(255, 255, 255, 0.1); border-radius:5px; border:solid 1.5px rgba(0, 0, 0, 0.5); color:white; text-align:center; height:50%;">
            <div class="grid-select-container" style="position:relative; top:50%; transform:translateY(-50%)">
                <div>
                    <button id="all" class="select-btn selected" onclick="filter(this.id)">
                        ALL
                    </button>
                </div>
                <div>
                    <button id="coll" class="select-btn" onclick="filter(this.id)">
                        COLLECT.
                    </button>
                </div>
                <div>
                    <button id="craft" class="select-btn" onclick="filter(this.id)">
                        CRAFT
                    </button>
                </div>
                <div>
                    <button id="misc" class="select-btn" onclick="filter(this.id)">
                        MISC.
                    </button>
                </div>
                <div>
                    <button id="comm" class="select-btn" onclick="filter(this.id)">
                        COMM.
                    </button>
                </div>
            </div>
        </div>

        <div class="grid-input" style="background-color:rgba(255, 255, 255, 0.1); border-radius:5px; border:solid 1.5px rgba(0, 0, 0, 0.5); color:white; text-align:center;">
            <div style="position:relative; top:50%; transform:translateY(-50%)">
                <div style="font-size:1.2em; font-weight:600; padding-bottom:min(0.2rem, 0.1vh);">
                    Bingo Data For
                </div>
                <div>
                    <form action="/bingo" method="post" style="display:flex" autocomplete="off">
                        <div style="margin:0 auto; display:flex; border:1.5px solid white; border-radius:5px;">                            
                            <input type="text" name="ign" placeholder="Username" spellcheck="false" value={{ ign }} style="background-color:rgba(0, 0, 0, 0.0); color:white; border:none; width:85%; height:1.4em; text-indent:0.1em;">
                            <button type="submit" style="background-color:rgba(0, 0, 0, 0.0); color:white; border:none; width:15%; height:1.4em"><i class="fa fa-search" style="font-size:0.8em; display:flex; justify-content:center; align-items:center;"></i></button>
                        </div>
                    </form>
                </div>
            </div> 
        </div>

        <div class="grid-tasks" style="background-color:rgba(255, 255, 255, 0.1); border-radius:5px; border:solid 1.5px rgba(0, 0, 0, 0.5); padding-top:0.3rem; padding-bottom:0.3rem;">
            <div class="grid-tasks-container">
                {% for dict in eta_tasks %}
                    {% if dict.method == "MINION" %}
                        <div class="grid-tasks-item task coll">
                    {% elif dict.method == "CRAFT" %}
                        <div class="grid-tasks-item task craft">
                    {% elif dict.method == "COMMUNITY GOAL" %}
                        <div class="grid-tasks-item task comm">
                    {% else %}
                        <div class="grid-tasks-item task misc">
                    {% endif %}
                    <div id = {{loop.index}} class="task-button" onclick="show_method(this.id)" style="border-radius:5px;">
                    <div class="header-grid">
                        <div class="header"></div>
                        <!--
                        {% if dict.method == "COMMUNITY GOAL" %}
                            <div class="header-progress-bar" style="background-color:rgba(48, 142, 218, 0.45);"></div>
                        {% else %}
                            <div class="header-progress-bar" style="background-color:rgba(0, 255, 0, 0.45); width:{{ dict.percent_complete }}%;"></div>
                        {% endif %}
                        -->
                        <div class="header-text">
                            {% if dict.method == "COMMUNITY GOAL" %}
                                {{ dict.name }}
                            {% else %}
                                {{ dict.name }} - {{ dict.percent_complete }}%
                            {% endif %}
                        </div>
                    </div>

                    <!--<div class="header" style="z-index:2; background-color:rgba(40, 207, 40, 0.6); transform:translateY(-100%); position:relative;"></div>-->
                        
                    <!-- TODO: ADD PERCENTAGE BARS HERE -->
                    <!--<div class="subheader grid-subheader-container" style="transform:translateY(-45.8%)">-->
                        
                    <div class="subheader grid-subheader-container" style="padding-left:0.5em; padding-right:0.5em">
                        <div class="grid-tasks-item" style="overflow-y: scroll;">
                            <div style="font-size:1.4em; font-weight:700;">
                                TASK
                            </div>
                            <div style="font-size:1.2em; font-weight:500;">
                                {{ dict.lore }}
                            </div>
                        </div>

                        <div class="grid-tasks-item">
                            <div style="font-size:1.4em; font-weight:700;">
                                PROGRESS
                            </div>
                            <div style="font-size:1.3em; font-weight:500;">
                                {% if dict.method == "COMMUNITY GOAL" %}
                                    <span style="color:rgba(62, 168, 255, 0.7)">
                                {% elif dict.eta == "DONE"  or dict.percent_complete == 100 %}
                                    <span style="color:rgba(99, 255, 0, 0.7);">
                                {% elif dict.percent_complete >= 80 %}
                                    <span style="color:rgba(214, 255, 0, 0.7);">
                                {% elif dict.percent_complete >= 60 %}
                                    <span style="color:rgba(255, 255, 0, 0.7);">  
                                {% elif dict.percent_complete >= 40 %}
                                    <span style="color:rgba(255, 193, 0, 0.7);">  
                                {% else %}
                                    <span style="color:rgba(255, 0, 0, 0.7);"> 
                                {% endif %}
                                {{ dict.eta }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="grid-board" style="background-color:rgba(255, 255, 255, 0.1); border-radius:5px; border:solid 1.5px rgba(0, 0, 0, 0.5); padding:0.3em; color:white;">
            <div class="grid-in-board">
                {% for task in ordered_tasks %}
                        {% if task.lore == "Community Goal!" %}
                            <div class="grid-board-item" style="background-color:rgba(62, 168, 255, 0.4);"></div>
                        {% elif task.percent_complete == 100 %}
                            <div class="grid-board-item" style="background-color:rgba(40, 207, 40, 0.6);"></div>
                        {% else %}
                            <div class="grid-board-item" style="background-color:rgba(0, 0, 0, 0.6);"></div>
                        {% endif %}
                        
                {% endfor %}
                
            </div>
        </div>

        <div class="grid-strat" style="background-color:rgba(255, 255, 255, 0.1); border-radius:5px; border:solid 1.5px rgba(0, 0, 0, 0.5); padding:0.3em; color:white;">
            <div class="grid-in-strat">
                <div id="strat-placeholder" class="grid-in-strat-text" style="text-align:center; font-size:1em; font-weight:500; padding:1.5em;"><em>Click on any task to view relevant information!</em></div>
                {% for dict in eta_tasks %}
                    <div id={{ dict.id }} class="grid-in-strat-text" style="display:none;">
                        <div id={{ dict.id }} class="grid-in-strat-header" style="text-align:center; font-size:1.2em; font-weight:700; padding:0.25em;">{{ dict.name }} → {{ dict.percent_complete }}% </div>
                        <div id={{ dict.id }} class="grid-in-strat-objective" style="margin:0 auto; text-align:center; font-size:0.8em; font-weight:400;"><hr style="margin:2%;">Progress: <b>{{ dict.eta }}</b> | ({{ dict.percent_complete }}%) <hr style="margin:2%;"></div>
                        {% if "\n" in dict.strat %}
                            <div id={{ dict.id }} class="grid-in-strat-content" style="float:left; padding-left: 0.5em; text-align:left; font-size:0.8em; font-weight:400; white-space:pre-line;">{{ dict.strat }}</div>
                        {% elif dict.strat == "armor_list" or dict.strat == "accessory_list" or dict.strat == "pet_list" %}
                            <div id={{ dict.id }} class="grid-in-strat-content" style="margin:0 auto; text-align:left; font-size:0.8em; font-weight:400; columns: auto 2;">
                            {% for i in range(dict.completion_list|length) %}
                                {% if dict.completion_list[i].has == "true" %}
                                    <div style="white-space:pre; color:rgba(99, 255, 0, 1);">- {{ dict.completion_list[i].name }}</div>
                                {% else %}
                                    <div style="white-space:pre;">- {{ dict.completion_list[i].name }}</div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        {% elif dict.method == "MINION" %}
                            <div style="text-align:center; font-size:0.6em;"><em>Assuming 5 Lvl 5 Minions w/ Medium Storages</em></div>
                        {% else %}
                            <div id={{ dict.id }} class="grid-in-strat-content" style="text-align:center; font-size:0.8em; font-weight:400;">{{ dict.strat }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}