{% extends "layout.html" %}

{% block title %}
    BINGO
{% endblock %}

{% block main %}
    <div class="grid-container">
        <div class="grid-select" style="border:solid; color:white">
            Select Menu Here
        </div>
        <div class="grid-input" style="border:solid; color:white">
            Input IGN Here
        </div>
        <div class="grid-tasks" style="border:solid; color:white">
            Tasks Here
        </div>
        <div class="grid-todo" style="border:solid; color:white">
            Todo Here
        </div>
    </div>


{% endblock %}