{% extends "layout.html" %}

{% block title %}
    BINGO
{% endblock %}

{% block main %}
    <div class="grid-container" style="color:white;">
        <div class="grid-select">
            <!-- TODO -->
        </div>
        <div class="grid-input" style="background-color:rgba(255, 255, 255, 0.1); border-radius:5px; border:solid 1.5px rgba(0, 0, 0, 0.5); color:white; text-align:center;">
            <div style="font-size:1.2em; font-weight:600;">Bingo Data For</div>
            <div>
                <div>
                    <form style="display:flex;">
                        <div style="margin:0 auto; display:flex; border:1.5px solid white; border-radius:5px;">
                            <input type="text" placeholder="IGN" spellcheck="false" style="background-color:rgba(0, 0, 0, 0.0); color:white; border:none; width:85%; text-indent:0.1em;">
                            <button type="submit" style="background-color:rgba(0, 0, 0, 0.0); color:white; border:none; width:15%;"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="grid-tasks" style="background-color:rgba(255, 255, 255, 0.1); border-radius:5px; border:solid 1.5px rgba(0, 0, 0, 0.5); padding-top:0.3rem; padding-bottom:0.3rem">
            <div class="grid-tasks-container">
                {% for dict in bingo_tasks %}
                    <div class="grid-tasks-item">
                        <div class="header">
                            {{ dict.name }}
                        </div>
                        <div class="subheader grid-subheader-container">
                            <div class="grid-tasks-item">
                                <div style="font-size:1.3em; font-weight:500;">
                                    TASK
                                </div>
                                <div>
                                    {{ dict.lore }}
                                </div>
                            </div>
                            <div class="grid-tasks-item">
                                <div style="font-size:1.3em; font-weight:500;">
                                    METHOD
                                </div>
                                <div>
                                    X Type Minions
                                    <br>
                                    Unloads: X
                                </div>
                            </div>
                            <div class="grid-tasks-item">
                                <div style="font-size:1.3em; font-weight:500;">
                                    ETA
                                </div>
                                <div>
                                    {{ dict.eta }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="grid-board" style="background-color:rgba(255, 255, 255, 0.1); border-radius:5px; border:solid 1.5px rgba(0, 0, 0, 0.5); padding:0.3em; color:white;">
            <div class="grid-in-board">
                <!-- TODO -->
            </div>
        </div>
        <div class="grid-todo" style="background-color:rgba(255, 255, 255, 0.1); border-radius:5px; border:solid 1.5px rgba(0, 0, 0, 0.5); padding:0.3em; color:white;">
            <div style="font-size:1.1em; font-weight:500;">
                <!-- TODO BETTER -->
                Unfinished
                <ul style="font-size:0.7em;">
                {% for dict in bingo_tasks %}
                    {% if dict.completion != 100 %}
                        <li>{{ dict.name }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
                Completed
                <ul style="font-size:0.7em;">
                    {% for dict in bingo_tasks %}
                        {% if dict.completion == 100 %}
                            <li>{{ dict.name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


{% endblock %}